VITE_SUPABASE_URL=https://rcmskljdxgokdiqvreap.supabase.co
VITE_SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjbXNrbGpkeGdva2RpcXZyZWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MTIyMDUsImV4cCI6MjA5MTk4ODIwNX0.-FkayyCZqMZBAfDJ7LmR9HQ-QEFlDutgMnEVxwzRORM
